 ### Web scraping Tutorial
 https://www.dataquest.io/blog/web-scraping-tutorial-python/
 
In this tutorial, we’ll show you how to perform web scraping using Python 3 and the BeautifulSoup library. We’ll be scraping weather forecasts from the National Weather Service, and then analyzing them using the Pandas library.

<html>
    <head>
    </head>
    <body>
        
        <p> List of HTML
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">  tags </a>  
        </p>
    </body>
</html>

In [35]:
import requests
url = "http://www.marinetraffic.com/en/ais/index/ports/all/page:1/"
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page=requests.get(url,headers=headers)
if page.status_code==200:
    print ("Page downloaded successfully")
page.status_code
#print(page.content.decode())

Page downloaded successfully

200

In [23]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')
#print(soup.prettify())

In [24]:
len(soup.find_all('table', class_='table'))

1

In [25]:
Table1=soup.find_all('table', class_='table')

In [37]:
Table1[0](href="/ais/index/ports/all/page:1/sort:COUNTRY/direction:asc")

In [78]:
# Create four variables to score the scraped data in
Conutry= []
PorName_name = []
UNCode = []
Type = []
Map = []
ShipsInPort = []
Departure = []
Arrivales=[]
ExpectedArrivales=[]
Covearge=[]

# Create an object of the first object that is class=dataframe
table=soup.find_all('table', class_='table')
table[0].find_all('tr')[2]

<tr>
<td>
<img alt="SG" class="img-responsive center-block" src="/img/flags/png40/SG.png" title="SG"/> </td>
<td>
<a href="/en/ais/details/ports/290/Singapore_port:SINGAPORE" title="View details for SINGAPORE">SINGAPORE</a>
</td>
<td>
                        SG SIN                    </td>
<td>
<span><div class="list_photos"><a href="/en/photos/of/ports/photo_keywords:290/port_name:SINGAPORE" title="Photos of: SINGAPORE"><img alt="Photos of: SINGAPORE" src="//photos.marinetraffic.com/ais/showphoto.aspx?mmsi=290&amp;size=thumb&amp;shiptype=Port" title="Photos of: SINGAPORE"><span class="text-overflow">Photos: 121<i class="fa fa-chevron-circle-right"></i></span></img></a></div></span> </td>
<td>
                        Port                    </td>
<td>
<a href="/en/ais/home/zoom:14/centerx:103.7544/centery:1.259366/showports:true/portid:290" title="Show on Map"><img alt="Show on Map" src="/img/icons/show_on_map_magnify.png" style="" title="Show on Map"/></a> </td>
<td>
<a href="/en/ais/index/ships/range/port_id:290/port_name:SINGAPORE" title="Ships currently in Port">810</a>
</td>
<td>
<a href="/en/ais/index/port_moves/all/port:290/portname:SINGAPORE/move_type:1" title="Departures">1366</a>
</td>
<td>
<a href="/en/ais/index/port_moves/all/port:290/portname:SINGAPORE/move_type:0" title="Arrivals">1466</a>
</td>
<td>
<a href="/en/ais/index/eta/all/port:290/portname:SINGAPORE" title="Expected Arrivals">1054</a>
</td>
<td>
<div class="badge-custom coverage-badge badge-success" data-placement="top" data-toggle="tooltip" rel="tooltip" title="Covered now"></div> </td>
</tr>

In [109]:
convert_string(table[0].find_all('tr')[1].find_all('td')[1])

NameError: name 'convert_string' is not defined

In [88]:
# Find all the <tr> tag pairs, skip the first one, then for each.
for row in table[0].find_all('tr')[1:]:
    # Create a variable of all the <td> tag pairs in each <tr> tag pair,
    col = row.find_all('td')

    # Create a variable of the string inside 1st <td> tag pair,
    column_1 = col[0].string.strip('</a>').strip('">')[1]
    # and append it to first_name variable
    first_name.append(column_1)

    # Create a variable of the string inside 2nd <td> tag pair,
    column_2 = col[1].string.strip()
    # and append it to last_name variable
    last_name.append(column_2)

    # Create a variable of the string inside 3rd <td> tag pair,
    column_3 = col[2].string.strip()
    # and append it to age variable
    age.append(column_3)

    # Create a variable of the string inside 4th <td> tag pair,
    column_4 = col[3].string.strip()
    # and append it to preTestScore variable
    preTestScore.append(column_4)

    # Create a variable of the string inside 5th <td> tag pair,
    column_5 = col[4].string.strip()
    # and append it to postTestScore variable
    postTestScore.append(column_5)

# Create a variable of the value of the columns
columns = {'Conutry': Conutry, 'PorName_name': PorName_name, 'UNCode': UNCode, 'Type': Type}

# Create a dataframe from the columns variable
df = pd.DataFrame(columns)

AttributeError: 'NoneType' object has no attribute 'strip'

In [46]:
table

[<table class="table table-hover text-left">
 <tr>
 <th><a href="/ais/index/ports/all/page:1/sort:COUNTRY/direction:asc">Country</a></th>
 <th><a href="/ais/index/ports/all/page:1/sort:PORT_NAME/direction:asc">Port Name</a></th>
 <th><a href="/ais/index/ports/all/page:1/sort:UNLOCODE/direction:asc">UN/LOCODE</a></th>
 <th><a href="/ais/index/ports/all/page:1/sort:COUNT_PHOTOS/direction:asc">Photo</a></th>
 <th><a href="/ais/index/ports/all/page:1/sort:PORT_TYPE/direction:asc">Type</a></th>
 <th>Port's Map</th>
 <th><a href="/ais/index/ports/all/page:1/sort:SHIPCOUNT/direction:asc">Ships in Port now</a></th>
 <th><a href="/ais/index/ports/all/page:1/sort:DEPARTCOUNT/direction:asc">Departures</a></th>
 <th><a href="/ais/index/ports/all/page:1/sort:ARRIVECOUNT/direction:asc">Arrivals</a></th>
 <th><a href="/ais/index/ports/all/page:1/sort:EXPECTEDCOUNT/direction:asc">Expected Arrivals</a></th>
 <th><a href="/ais/index/ports/all/page:1/sort:COVERAGE/direction:asc">Coverage</a></th>
 </tr>
 <tr>
 <td>
 <img alt="CN" class="img-responsive center-block" src="/img/flags/png40/CN.png" title="CN"/> </td>
 <td>
 <a href="/en/ais/details/ports/1253/China_port:SHANGHAI" title="View details for SHANGHAI">SHANGHAI</a>
 </td>
 <td>
                         CN SHA                    </td>
 <td>
 <span><div class="list_photos"><a href="/en/photos/of/ports/photo_keywords:1253/port_name:SHANGHAI" title="Photos of: SHANGHAI"><img alt="Photos of: SHANGHAI" src="//photos.marinetraffic.com/ais/showphoto.aspx?mmsi=1253&amp;size=thumb&amp;shiptype=Port" title="Photos of: SHANGHAI"><span class="text-overflow">Photos: 9<i class="fa fa-chevron-circle-right"></i></span></img></a></div></span> </td>
 <td>
                         Port                    </td>
 <td>
 <a href="/en/ais/home/zoom:9/centerx:121.601/centery:31.38144/showports:true/portid:1253" title="Show on Map"><img alt="Show on Map" src="/img/icons/show_on_map_magnify.png" style="" title="Show on Map"/></a> </td>
 <td>
 <a href="/en/ais/index/ships/range/port_id:1253/port_name:SHANGHAI" title="Ships currently in Port">2174</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:1253/portname:SHANGHAI/move_type:1" title="Departures">3337</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:1253/portname:SHANGHAI/move_type:0" title="Arrivals">3598</a>
 </td>
 <td>
 <a href="/en/ais/index/eta/all/port:1253/portname:SHANGHAI" title="Expected Arrivals">191</a>
 </td>
 <td>
 <div class="badge-custom coverage-badge badge-success" data-placement="top" data-toggle="tooltip" rel="tooltip" title="Covered now"></div> </td>
 </tr>
 <tr>
 <td>
 <img alt="SG" class="img-responsive center-block" src="/img/flags/png40/SG.png" title="SG"/> </td>
 <td>
 <a href="/en/ais/details/ports/290/Singapore_port:SINGAPORE" title="View details for SINGAPORE">SINGAPORE</a>
 </td>
 <td>
                         SG SIN                    </td>
 <td>
 <span><div class="list_photos"><a href="/en/photos/of/ports/photo_keywords:290/port_name:SINGAPORE" title="Photos of: SINGAPORE"><img alt="Photos of: SINGAPORE" src="//photos.marinetraffic.com/ais/showphoto.aspx?mmsi=290&amp;size=thumb&amp;shiptype=Port" title="Photos of: SINGAPORE"><span class="text-overflow">Photos: 121<i class="fa fa-chevron-circle-right"></i></span></img></a></div></span> </td>
 <td>
                         Port                    </td>
 <td>
 <a href="/en/ais/home/zoom:14/centerx:103.7544/centery:1.259366/showports:true/portid:290" title="Show on Map"><img alt="Show on Map" src="/img/icons/show_on_map_magnify.png" style="" title="Show on Map"/></a> </td>
 <td>
 <a href="/en/ais/index/ships/range/port_id:290/port_name:SINGAPORE" title="Ships currently in Port">810</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:290/portname:SINGAPORE/move_type:1" title="Departures">1366</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:290/portname:SINGAPORE/move_type:0" title="Arrivals">1466</a>
 </td>
 <td>
 <a href="/en/ais/index/eta/all/port:290/portname:SINGAPORE" title="Expected Arrivals">1054</a>
 </td>
 <td>
 <div class="badge-custom coverage-badge badge-success" data-placement="top" data-toggle="tooltip" rel="tooltip" title="Covered now"></div> </td>
 </tr>
 <tr>
 <td>
 <img alt="CN" class="img-responsive center-block" src="/img/flags/png40/CN.png" title="CN"/> </td>
 <td>
 <a href="/en/ais/details/ports/3239/China_port:MINHANG" title="View details for MINHANG">MINHANG</a>
 </td>
 <td>
                         CN MNG                    </td>
 <td>
                         No photos for this port<br/><a class="login_gate" data-login-error="You need to Sign in to use this feature" data-mixpanel="Upload Photo" href="/en/photos/upload/mmsi:3239/name:MINHANG/type:Port"><i class="fa fa-upload"></i> Upload a photo</a> </td>
 <td>
                         Port                    </td>
 <td>
 <a href="/en/ais/home/zoom:14/centerx:121.4/centery:31/showports:true/portid:3239" title="Show on Map"><img alt="Show on Map" src="/img/icons/show_on_map_magnify.png" style="" title="Show on Map"/></a> </td>
 <td>
 <a href="/en/ais/index/ships/range/port_id:3239/port_name:MINHANG" title="Ships currently in Port">806</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:3239/portname:MINHANG/move_type:1" title="Departures">1633</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:3239/portname:MINHANG/move_type:0" title="Arrivals">1914</a>
 </td>
 <td>
 <a href="/en/ais/index/eta/all/port:3239/portname:MINHANG" title="Expected Arrivals">2</a>
 </td>
 <td>
 <div class="badge-custom coverage-badge badge-success" data-placement="top" data-toggle="tooltip" rel="tooltip" title="Covered now"></div> </td>
 </tr>
 <tr>
 <td>
 <img alt="CN" class="img-responsive center-block" src="/img/flags/png40/CN.png" title="CN"/> </td>
 <td>
 <a href="/en/ais/details/ports/17370/China_port:NANTONG" title="View details for NANTONG">NANTONG</a>
 </td>
 <td>
                         CN NTG                    </td>
 <td>
                         No photos for this port<br/><a class="login_gate" data-login-error="You need to Sign in to use this feature" data-mixpanel="Upload Photo" href="/en/photos/upload/mmsi:17370/name:NANTONG/type:Port"><i class="fa fa-upload"></i> Upload a photo</a> </td>
 <td>
                         Port                    </td>
 <td>
 <a href="/en/ais/home/zoom:13/centerx:120.865/centery:31.97304/showports:true/portid:17370" title="Show on Map"><img alt="Show on Map" src="/img/icons/show_on_map_magnify.png" style="" title="Show on Map"/></a> </td>
 <td>
 <a href="/en/ais/index/ships/range/port_id:17370/port_name:NANTONG" title="Ships currently in Port">790</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:17370/portname:NANTONG/move_type:1" title="Departures">972</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:17370/portname:NANTONG/move_type:0" title="Arrivals">1129</a>
 </td>
 <td>
 <a href="/en/ais/index/eta/all/port:17370/portname:NANTONG" title="Expected Arrivals">51</a>
 </td>
 <td>
 <div class="badge-custom coverage-badge badge-success" data-placement="top" data-toggle="tooltip" rel="tooltip" title="Covered now"></div> </td>
 </tr>
 <tr>
 <td>
 <img alt="HK" class="img-responsive center-block" src="/img/flags/png40/HK.png" title="HK"/> </td>
 <td>
 <a href="/en/ais/details/ports/2429/Hong Kong_port:HONG%20KONG" title="View details for HONG KONG">HONG KONG</a>
 </td>
 <td>
                         HK HKG                    </td>
 <td>
 <span><div class="list_photos"><a href="/en/photos/of/ports/photo_keywords:2429/port_name:HONG%20KONG" title="Photos of: HONG KONG"><img alt="Photos of: HONG KONG" src="//photos.marinetraffic.com/ais/showphoto.aspx?mmsi=2429&amp;size=thumb&amp;shiptype=Port" title="Photos of: HONG KONG"><span class="text-overflow">Photos: 25<i class="fa fa-chevron-circle-right"></i></span></img></a></div></span> </td>
 <td>
                         Port                    </td>
 <td>
 <a href="/en/ais/home/zoom:14/centerx:114.1681/centery:22.31081/showports:true/portid:2429" title="Show on Map"><img alt="Show on Map" src="/img/icons/show_on_map_magnify.png" style="" title="Show on Map"/></a> </td>
 <td>
 <a href="/en/ais/index/ships/range/port_id:2429/port_name:HONG%20KONG" title="Ships currently in Port">719</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:2429/portname:HONG%20KONG/move_type:1" title="Departures">1540</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:2429/portname:HONG%20KONG/move_type:0" title="Arrivals">1641</a>
 </td>
 <td>
 <a href="/en/ais/index/eta/all/port:2429/portname:HONG%20KONG" title="Expected Arrivals">120</a>
 </td>
 <td>
 <div class="badge-custom coverage-badge badge-success" data-placement="top" data-toggle="tooltip" rel="tooltip" title="Covered now"></div> </td>
 </tr>
 <tr>
 <td>
 <img alt="SG" class="img-responsive center-block" src="/img/flags/png40/SG.png" title="SG"/> </td>
 <td>
 <a href="/en/ais/details/ports/18812/Singapore_port:SINGAPORE%20ANCH" title="View details for SINGAPORE ANCH">SINGAPORE ANCH</a>
 </td>
 <td>
                         -                    </td>
 <td>
                         No photos for this port<br/><a class="login_gate" data-login-error="You need to Sign in to use this feature" data-mixpanel="Upload Photo" href="/en/photos/upload/mmsi:18812/name:SINGAPORE%20ANCH/type:Port"><i class="fa fa-upload"></i> Upload a photo</a> </td>
 <td>
                         Anchorage                    </td>
 <td>
 <a href="/en/ais/home/zoom:13/centerx:103.8121/centery:1.210638/showports:true/portid:18812" title="Show on Map"><img alt="Show on Map" src="/img/icons/show_on_map_magnify.png" style="" title="Show on Map"/></a> </td>
 <td>
 <a href="/en/ais/index/ships/range/port_id:18812/port_name:SINGAPORE%20ANCH" title="Ships currently in Port">647</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:18812/portname:SINGAPORE%20ANCH/move_type:1" title="Departures">1146</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:18812/portname:SINGAPORE%20ANCH/move_type:0" title="Arrivals">1543</a>
 </td>
 <td>
 <a href="/en/ais/index/eta/all/port:18812/portname:SINGAPORE%20ANCH" title="Expected Arrivals">0</a>
 </td>
 <td>
 <div class="badge-custom coverage-badge badge-success" data-placement="top" data-toggle="tooltip" rel="tooltip" title="Covered now"></div> </td>
 </tr>
 <tr>
 <td>
 <img alt="NL" class="img-responsive center-block" src="/img/flags/png40/NL.png" title="NL"/> </td>
 <td>
 <a href="/en/ais/details/ports/1766/Netherlands_port:AMSTERDAM" title="View details for AMSTERDAM">AMSTERDAM</a>
 </td>
 <td>
                         NL AMS                    </td>
 <td>
 <span><div class="list_photos"><a href="/en/photos/of/ports/photo_keywords:1766/port_name:AMSTERDAM" title="Photos of: AMSTERDAM"><img alt="Photos of: AMSTERDAM" src="//photos.marinetraffic.com/ais/showphoto.aspx?mmsi=1766&amp;size=thumb&amp;shiptype=Port" title="Photos of: AMSTERDAM"><span class="text-overflow">Photos: 58<i class="fa fa-chevron-circle-right"></i></span></img></a></div></span> </td>
 <td>
                         Port                    </td>
 <td>
 <a href="/en/ais/home/zoom:14/centerx:4.878955/centery:52.37075/showports:true/portid:1766" title="Show on Map"><img alt="Show on Map" src="/img/icons/show_on_map_magnify.png" style="" title="Show on Map"/></a> </td>
 <td>
 <a href="/en/ais/index/ships/range/port_id:1766/port_name:AMSTERDAM" title="Ships currently in Port">548</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:1766/portname:AMSTERDAM/move_type:1" title="Departures">195</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:1766/portname:AMSTERDAM/move_type:0" title="Arrivals">189</a>
 </td>
 <td>
 <a href="/en/ais/index/eta/all/port:1766/portname:AMSTERDAM" title="Expected Arrivals">78</a>
 </td>
 <td>
 <div class="badge-custom coverage-badge badge-success" data-placement="top" data-toggle="tooltip" rel="tooltip" title="Covered now"></div> </td>
 </tr>
 <tr>
 <td>
 <img alt="BE" class="img-responsive center-block" src="/img/flags/png40/BE.png" title="BE"/> </td>
 <td>
 <a href="/en/ais/details/ports/117/Belgium_port:ANTWERP" title="View details for ANTWERP">ANTWERP</a>
 </td>
 <td>
                         BE ANR                    </td>
 <td>
 <span><div class="list_photos"><a href="/en/photos/of/ports/photo_keywords:117/port_name:ANTWERP" title="Photos of: ANTWERP"><img alt="Photos of: ANTWERP" src="//photos.marinetraffic.com/ais/showphoto.aspx?mmsi=117&amp;size=thumb&amp;shiptype=Port" title="Photos of: ANTWERP"><span class="text-overflow">Photos: 113<i class="fa fa-chevron-circle-right"></i></span></img></a></div></span> </td>
 <td>
                         Port                    </td>
 <td>
 <a href="/en/ais/home/zoom:13/centerx:4.31146/centery:51.30249/showports:true/portid:117" title="Show on Map"><img alt="Show on Map" src="/img/icons/show_on_map_magnify.png" style="" title="Show on Map"/></a> </td>
 <td>
 <a href="/en/ais/index/ships/range/port_id:117/port_name:ANTWERP" title="Ships currently in Port">511</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:117/portname:ANTWERP/move_type:1" title="Departures">218</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:117/portname:ANTWERP/move_type:0" title="Arrivals">245</a>
 </td>
 <td>
 <a href="/en/ais/index/eta/all/port:117/portname:ANTWERP" title="Expected Arrivals">137</a>
 </td>
 <td>
 <div class="badge-custom coverage-badge badge-success" data-placement="top" data-toggle="tooltip" rel="tooltip" title="Covered now"></div> </td>
 </tr>
 <tr>
 <td>
 <img alt="CN" class="img-responsive center-block" src="/img/flags/png40/CN.png" title="CN"/> </td>
 <td>
 <a href="/en/ais/details/ports/2712/China_port:ZHANGJIAGANG" title="View details for ZHANGJIAGANG">ZHANGJIAGANG</a>
 </td>
 <td>
                         CN ZJG                    </td>
 <td>
 <span><div class="list_photos"><a href="/en/photos/of/ports/photo_keywords:2712/port_name:ZHANGJIAGANG" title="Photos of: ZHANGJIAGANG"><img alt="Photos of: ZHANGJIAGANG" src="//photos.marinetraffic.com/ais/showphoto.aspx?mmsi=2712&amp;size=thumb&amp;shiptype=Port" title="Photos of: ZHANGJIAGANG"><span class="text-overflow">Photos: 2<i class="fa fa-chevron-circle-right"></i></span></img></a></div></span> </td>
 <td>
                         Port                    </td>
 <td>
 <a href="/en/ais/home/zoom:14/centerx:120.4193/centery:31.97519/showports:true/portid:2712" title="Show on Map"><img alt="Show on Map" src="/img/icons/show_on_map_magnify.png" style="" title="Show on Map"/></a> </td>
 <td>
 <a href="/en/ais/index/ships/range/port_id:2712/port_name:ZHANGJIAGANG" title="Ships currently in Port">498</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:2712/portname:ZHANGJIAGANG/move_type:1" title="Departures">532</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:2712/portname:ZHANGJIAGANG/move_type:0" title="Arrivals">577</a>
 </td>
 <td>
 <a href="/en/ais/index/eta/all/port:2712/portname:ZHANGJIAGANG" title="Expected Arrivals">32</a>
 </td>
 <td>
 <div class="badge-custom coverage-badge badge-success" data-placement="top" data-toggle="tooltip" rel="tooltip" title="Covered now"></div> </td>
 </tr>
 <tr>
 <td>
 <img alt="CN" class="img-responsive center-block" src="/img/flags/png40/CN.png" title="CN"/> </td>
 <td>
 <a href="/en/ais/details/ports/18853/China_port:YANGZHOU" title="View details for YANGZHOU">YANGZHOU</a>
 </td>
 <td>
                         CN YZH                    </td>
 <td>
                         No photos for this port<br/><a class="login_gate" data-login-error="You need to Sign in to use this feature" data-mixpanel="Upload Photo" href="/en/photos/upload/mmsi:18853/name:YANGZHOU/type:Port"><i class="fa fa-upload"></i> Upload a photo</a> </td>
 <td>
                         Port                    </td>
 <td>
 <a href="/en/ais/home/zoom:13/centerx:119.4725/centery:32.31264/showports:true/portid:18853" title="Show on Map"><img alt="Show on Map" src="/img/icons/show_on_map_magnify.png" style="" title="Show on Map"/></a> </td>
 <td>
 <a href="/en/ais/index/ships/range/port_id:18853/port_name:YANGZHOU" title="Ships currently in Port">460</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:18853/portname:YANGZHOU/move_type:1" title="Departures">1790</a>
 </td>
 <td>
 <a href="/en/ais/index/port_moves/all/port:18853/portname:YANGZHOU/move_type:0" title="Arrivals">2160</a>
 </td>
 <td>
 <a href="/en/ais/index/eta/all/port:18853/portname:YANGZHOU" title="Expected Arrivals">6</a>
 </td>
 <td>
 <div class="badge-custom coverage-badge badge-success" data-placement="top" data-toggle="tooltip" rel="tooltip" title="Covered now"></div> </td>
 </tr>
 </table>]

In [8]:
[type(item) for item in list(soup.children)]

[bs4.element.Doctype, bs4.element.NavigableString, bs4.element.Tag]

In [9]:
html = list(soup.children)[2]

In [11]:
list(html.children)

['\n', <head>
 <title>A simple example page</title>
 </head>, '\n', <body>
 <p>Here is some simple content for this page.</p>
 </body>, '\n']

In [13]:
body = list(html.children)[3]

In [16]:
p=list(body.children)[1]

In [17]:
p.get_text()

'Here is some simple content for this page.'

In [19]:
soup.find('p').get_text()

'Here is some simple content for this page.'

In [20]:
page = requests.get("http://dataquestio.github.io/web-scraping-pages/ids_and_classes.html")
soup = BeautifulSoup(page.content, 'html.parser')
soup

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<div>
<p class="inner-text first-item" id="first">
                First paragraph.
            </p>
<p class="inner-text">
                Second paragraph.
            </p>
</div>
<p class="outer-text first-item" id="second">
<b>
                First outer paragraph.
            </b>
</p>
<p class="outer-text">
<b>
                Second outer paragraph.
            </b>
</p>
</body>
</html>

In [21]:
soup.find_all('p', class_='outer-text')

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>, <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [22]:
soup.find_all(class_="outer-text")

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>, <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

In [26]:
soup.find_all(id="first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In [27]:
soup.select("div p")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>, <p class="inner-text">
                 Second paragraph.
             </p>]

In [28]:
soup.select("p#first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In [33]:
page = requests.get("http://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168")
soup = BeautifulSoup(page.content, 'html.parser')
seven_day = soup.find(id="seven-day-forecast")
forecast_items = seven_day.find_all(class_="tombstone-container")
tonight = forecast_items[0]
print(tonight.prettify())

<div class="tombstone-container">
 <p class="period-name">
  This
  <br>
   Afternoon
  </br>
 </p>
 <p>
  <img alt="This Afternoon: A 30 percent chance of showers.  Mostly sunny, with a high near 55. West wind around 15 mph, with gusts as high as 20 mph. " class="forecast-icon" src="newimages/medium/hi_shwrs30.png" title="This Afternoon: A 30 percent chance of showers.  Mostly sunny, with a high near 55. West wind around 15 mph, with gusts as high as 20 mph. "/>
 </p>
 <p class="short-desc">
  Chance
  <br>
   Showers
  </br>
 </p>
 <p class="temp temp-high">
  High: 55 °F
 </p>
</div>

In [34]:
period = tonight.find(class_="period-name").get_text()
short_desc = tonight.find(class_="short-desc").get_text()
temp = tonight.find(class_="temp").get_text()

print(period)
print(short_desc)
print(temp)

ThisAfternoon
ChanceShowers
High: 55 °F

In [35]:
img = tonight.find("img")
desc = img['title']

print(desc)

This Afternoon: A 30 percent chance of showers.  Mostly sunny, with a high near 55. West wind around 15 mph, with gusts as high as 20 mph.

In [36]:
period_tags = seven_day.select(".tombstone-container .period-name")
periods = [pt.get_text() for pt in period_tags]
periods

['ThisAfternoon',
 'Tonight',
 'Monday',
 'MondayNight',
 'Tuesday',
 'TuesdayNight',
 'Wednesday',
 'WednesdayNight',
 'Thursday']

In [37]:
short_descs = [sd.get_text() for sd in seven_day.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in seven_day.select(".tombstone-container .temp")]
descs = [d["title"] for d in seven_day.select(".tombstone-container img")]

print(short_descs)
print(temps)
print(descs)

['ChanceShowers', 'ShowersLikely', 'Slight ChanceShowers', 'Partly Cloudy', 'Sunny', 'Mostly Clear', 'Sunny', 'Clear', 'Sunny']
['High: 55 °F', 'Low: 45 °F', 'High: 54 °F', 'Low: 43 °F', 'High: 57 °F', 'Low: 45 °F', 'High: 59 °F', 'Low: 47 °F', 'High: 59 °F']
['This Afternoon: A 30 percent chance of showers.  Mostly sunny, with a high near 55. West wind around 15 mph, with gusts as high as 20 mph. ', 'Tonight: Showers likely, mainly after 10pm.  Mostly cloudy, with a low around 45. West northwest wind 7 to 14 mph, with gusts as high as 18 mph.  Chance of precipitation is 60%. New precipitation amounts of less than a tenth of an inch possible. ', 'Monday: A 20 percent chance of showers.  Mostly sunny, with a high near 54. North northwest wind 7 to 13 mph.  New precipitation amounts of less than a tenth of an inch possible. ', 'Monday Night: Partly cloudy, with a low around 43. Northwest wind 11 to 14 mph, with gusts as high as 18 mph. ', 'Tuesday: Sunny, with a high near 57. North wind 9 to 11 mph. ', 'Tuesday Night: Mostly clear, with a low around 45.', 'Wednesday: Sunny, with a high near 59.', 'Wednesday Night: Clear, with a low around 47.', 'Thursday: Sunny, with a high near 59.']

In [38]:
import pandas as pd
weather = pd.DataFrame({
        "period": periods, 
        "short_desc": short_descs, 
        "temp": temps, 
        "desc":descs
    })
weather

,desc,period,short_desc,temp
0,This Afternoon: A 30 percent chance of showers...,ThisAfternoon,ChanceShowers,High: 55 °F
1,"Tonight: Showers likely, mainly after 10pm. M...",Tonight,ShowersLikely,Low: 45 °F
2,Monday: A 20 percent chance of showers. Mostl...,Monday,Slight ChanceShowers,High: 54 °F
3,"Monday Night: Partly cloudy, with a low around...",MondayNight,Partly Cloudy,Low: 43 °F
4,"Tuesday: Sunny, with a high near 57. North win...",Tuesday,Sunny,High: 57 °F
5,"Tuesday Night: Mostly clear, with a low around...",TuesdayNight,Mostly Clear,Low: 45 °F
6,"Wednesday: Sunny, with a high near 59.",Wednesday,Sunny,High: 59 °F
7,"Wednesday Night: Clear, with a low around 47.",WednesdayNight,Clear,Low: 47 °F
8,"Thursday: Sunny, with a high near 59.",Thursday,Sunny,High: 59 °F

In [39]:
temp_nums = weather["temp"].str.extract("(?P<temp_num>\d+)", expand=False)
weather["temp_num"] = temp_nums.astype('int')
temp_nums

0    55
1    45
2    54
3    43
4    57
5    45
6    59
7    47
8    59
Name: temp_num, dtype: object

In [40]:
weather["temp_num"].mean()

51.555555555555557

In [41]:
is_night = weather["temp"].str.contains("Low")
weather["is_night"] = is_night
is_night

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
8    False
Name: temp, dtype: bool

In [42]:
weather[is_night]

,desc,period,short_desc,temp,temp_num,is_night
1,"Tonight: Showers likely, mainly after 10pm. M...",Tonight,ShowersLikely,Low: 45 °F,45,True
3,"Monday Night: Partly cloudy, with a low around...",MondayNight,Partly Cloudy,Low: 43 °F,43,True
5,"Tuesday Night: Mostly clear, with a low around...",TuesdayNight,Mostly Clear,Low: 45 °F,45,True
7,"Wednesday Night: Clear, with a low around 47.",WednesdayNight,Clear,Low: 47 °F,47,True