# Scraping Ports

In [210]:
import urllib.request
import requests
from bs4 import BeautifulSoup
import urllib.request
import csv
url = "http://maritime-database.com/port.php?pid=6000"
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page=requests.get(url,headers=headers)
if page.status_code==200:
        print ("Site downloaded successfully")

Site downloaded successfully

In [182]:
# Turn the HTML into a Beautiful Soup object
soup = BeautifulSoup(page.content,"html.parser")

In [183]:
table=soup.find(class_="txt")

In [185]:
row=table.find_all('tr')[3]
col = row.find_all('td')[0]
col

<td valign="top">
<b>Port Isabel</b> <br>
<b>Port Authority</b> : Port Isabel/San Benito Navigation District<br> <b>Address</b> : PO Box 218<br> <b>State</b> : Texas<br> <b>Zipcode</b> : 78578-0218<br> <b>Town</b> : Port Isabel, TX<br> <b>Country</b> : United States - USA<br> <b>Phone</b> : +1 512 943 7826<br> <b>Fax</b> : +1 512 943 8922<br> <b>Telex</b> : 78578 0218<br>
<b>Country time zone</b> : -5/11<br> <b>Port time zone</b> : GMT -6<br>
<b>Latitude</b> : 26? 04.0' N<br> <b>Longtitude</b> : 097? 14.0' W<br>
<b>Current status</b> : Port Open<br> <b>UNCTAD</b> : USPIS<br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></td>

In [197]:
col.find_all('b')

[<b>Port Isabel</b>,
 <b>Port Authority</b>,
 <b>Address</b>,
 <b>State</b>,
 <b>Zipcode</b>,
 <b>Town</b>,
 <b>Country</b>,
 <b>Phone</b>,
 <b>Fax</b>,
 <b>Telex</b>,
 <b>Country time zone</b>,
 <b>Port time zone</b>,
 <b>Latitude</b>,
 <b>Longtitude</b>,
 <b>Current status</b>,
 <b>UNCTAD</b>]

In [205]:
KK=str(col.find_all('b'))
ZZ=KK.split(',')
ZZ

['[<b>Port Isabel</b>',
 ' <b>Port Authority</b>',
 ' <b>Address</b>',
 ' <b>State</b>',
 ' <b>Zipcode</b>',
 ' <b>Town</b>',
 ' <b>Country</b>',
 ' <b>Phone</b>',
 ' <b>Fax</b>',
 ' <b>Telex</b>',
 ' <b>Country time zone</b>',
 ' <b>Port time zone</b>',
 ' <b>Latitude</b>',
 ' <b>Longtitude</b>',
 ' <b>Current status</b>',
 ' <b>UNCTAD</b>]']

In [206]:
find_between( ZZ[0], '<b>', '</b>' )

'Port Isabel'

In [176]:
col1=str(col).split(':')
len(col1)
col12=[col1[i] for i in range(len(col1)) if i>=0 and i < len(col1)]

In [139]:
col12

['<td valign="top">\n<b>Crown Point</b> <br>\n<b>Country</b> ',
 ' Trinidad &amp; Tobago - TT<br>\n<b>Country time zone</b> ',
 ' -4<br> <b>Port time zone</b> ',
 ' GMT -4<br>\n<b>Latitude</b> ',
 " 11? 09.0' N<br> <b>Longtitude</b> ",
 " 060? 51.0' W<br>\n<b>Current status</b> ",
 ' Port Open<br>\n</br></br></br></br></br></br></br></td>']

In [143]:
col12[0].split('<b>')[1].split('</b>')[0]

'Crown Point'

In [148]:
col12[1].split('<br>')[0]

' Trinidad &amp; Tobago - TT'

In [149]:
col12[2].split('<br>')[0]

' -4'

In [150]:
col12[3].split('<br>')[0]

' GMT -4'

In [151]:
col12[4].split('<br>')[0]

" 11? 09.0' N"

In [154]:
col12[5].split('<br>')[0]

" 060? 51.0' W"

In [155]:
col12[6].split('<br>')[0]

' Port Open'

In [177]:
# Port meta Data
Port_name = []
Country = []
Country_time_zone = []
Port_time_zone = []
Latitude = []
Longitude=[]
Current_status=[]

In [178]:
soup = BeautifulSoup(page.content,"html.parser")
table=soup.find(class_="txt")
row=table.find_all('tr')[3]
col = row.find_all('td')[0]

col1=str(col).split(':')
len(col1)
col12=[col1[i] for i in range(len(col1)) if i>=0 and i < len(col1)]

In [179]:
Port_name.append(col12[0].split('<b>')[1].split('</b>')[0])
Country.append(col12[1].split('<br>')[0] )
Country_time_zone.append (col12[2].split('<br>')[0])
Port_time_zone.append(col12[3].split('<br>')[0])
Latitude.append(col12[4].split('<br>')[0])
Longitude.append(col12[5].split('<br>')[0])
Current_status.append(col12[6].split('<br>')[0])

print(Port_name)
print(Longitude)
print(Current_status)

['Bone']
[" 007? 47.0' E"]
[' Alternative Name']

In [11]:
# Create four variables to score the scraped data in
first_name = []
last_name = []
age = []
preTestScore = []
postTestScore = []

# Create an object of the first object that is class=dataframe
table = soup.find(class_='dataframe')

# Find all the <tr> tag pairs, skip the first one, then for each.
for row in table.find_all('tr')[1:]:
    # Create a variable of all the <td> tag pairs in each <tr> tag pair,
    col = row.find_all('td')
    
    # Create a variable of the string inside 1st <td> tag pair,
    column_1 = col[0].string.strip()
    # and append it to first_name variable
    first_name.append(column_1)
    
    # Create a variable of the string inside 2nd <td> tag pair,
    column_2 = col[1].string.strip()
    # and append it to last_name variable
    last_name.append(column_2)
    
    # Create a variable of the string inside 3rd <td> tag pair,
    column_3 = col[2].string.strip()
    # and append it to age variable
    age.append(column_3)
    
    # Create a variable of the string inside 4th <td> tag pair,
    column_4 = col[3].string.strip()
    # and append it to preTestScore variable
    preTestScore.append(column_4)
    
    # Create a variable of the string inside 5th <td> tag pair,
    column_5 = col[4].string.strip()
    # and append it to postTestScore variable
    postTestScore.append(column_5)

# Create a variable of the value of the columns
columns = {'first_name': first_name, 'last_name': last_name, 'age': age, 'preTestScore': preTestScore, 'postTestScore': postTestScore}

# Create a dataframe from the columns variable
df = pd.DataFrame(columns)

In [12]:
df

  age first_name last_name postTestScore preTestScore
0  42      Jason    Miller            25            4
1  52      Molly  Jacobson            94           24
2  36       Tina       Ali            57           31
3  24       Jake    Milner            62            2
4  73        Amy     Cooze            70            3

In [196]:
s = "123123STRINGabcabc"

def find_between( s, first, last ):
    try:
        start = s.index( first ) + len( first )
        end = s.index( last, start )
        return s[start:end]
    except ValueError:
        return ""

def find_between_r( s, first, last ):
    try:
        start = s.rindex( first ) + len( first )
        end = s.rindex( last, start )
        return s[start:end]
    except ValueError:
        return ""


print (find_between( s, "123", "abc" ))
print (find_between_r( s, "123", "abc" ))

123STRING
STRINGabc